*{
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #F05936;
  --pColor: #ACACAC;
}

.cont{
  display: flex;

}
.left-navbar{
  margin-left: 10px;
  border-right: 2px solid #FDEFEA;
  width: 200px;
}

.right-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

input{
  display: flex;
  background-color: #FDEFEA;
  padding: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  margin-right: 50px;
  border: 0px;
  outline: none;
  width: 100%;
}
input:focus{
  background-color: #fff;
  padding: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  margin-right: 50px;
  border: 0px;
  outline: none;
}
::placeholder{
  color: var(--primary);
}

.add{
  margin: 5px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.add-overview{

font-size: 18px;
font-family: 'Montserrat', sans-serif;
color: var(--primary);

}

.btn1{
  color: #fff;
  background-color: var(--primary);
  padding: 10px ;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-family:'Montserrat', sans-serif ;
}
.btn1:hover{
  color: #fff;
  background-color:#f13b13 ;
  padding: 10px ;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-family:'Montserrat', sans-serif ;
  text-align: center;
}
.btn2{
  margin-top: 370px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px var(--primary);
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  margin-left:35px ;

}

.logo{
  font-size: 22px ;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: ease 1s;
}
.logo a {
  text-decoration: none;
  color: var(--primary);

}

.links a {
text-decoration: none;
color: var(--pColor);
border-radius: 5px;
padding: 5px;
font-size: 20px;
width: 150px;
transition: 0.2s ease;
}

.links a:hover {
font-size: 20px;
border-radius: 5px;
color: var(--primary) ;
background-color: #FDEFEA;
width: 150px;
text-decoration: none;
}


.links{
  margin: 10px;
}


