*{
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #F05936;
  --pColor: #ACACAC;
}
.cont{
  display: flex;

}
.left-navbar{
  margin-left: 10px;
  border-right: 2px solid #FDEFEA;
  width: 200px;
}

.right-side{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

input{
  display: flex;
  background-color: #FDEFEA;
  padding: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  margin-right: 50px;
  border: 0px;
  outline: none;
  width: 100%;
}
input:focus{
  background-color: #fff;
  padding: 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary);
  margin-right: 50px;
  border: 0px;
  outline: none;
}
::placeholder{
  color: var(--primary);
}

.add{
  margin: 5px;
  margin-left: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.add-overview{

font-size: 18px;
font-family: 'Montserrat', sans-serif;
color: var(--primary);

}

#btn1{
  color: #fff;
  background-color: var(--primary);
  padding: 10px ;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-family:'Montserrat', sans-serif ;
}
#btn1:hover{
  color: #fff;
  background-color:#f13b13 ;
  padding: 10px ;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary);
  font-family:'Montserrat', sans-serif ;
  text-align: center;
}
#btn2{
  margin-top: 370px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px var(--primary);
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  margin-left:35px ;

}

.logo{
  font-size: 22px ;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: ease 1s;
}
.logo a {
  text-decoration: none;
  color: var(--primary);

}

.links a {
text-decoration: none;
color: var(--pColor);
border-radius: 5px;
padding: 5px;
font-size: 20px;
width: 150px;
transition: 0.2s ease;
}

.links a:hover {
font-size: 20px;
border-radius: 5px;
color: var(--primary) ;
background-color: #FDEFEA;
width: 150px;
text-decoration: none;
}


.links{
  margin: 10px;
}

img{
  display: none;
  
}

#overlay{
  display: none;
  position: absolute;
  top: 30%;
  left: 33%;
  border: 1px solid black;
  padding: 1rem;
  border-radius: .25rem;
  background-color: #FFF;
  width: 30%;
  height: 60%;
}

#model{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .75);
}


.overlay-add-a-todo{
  text-align: center;
  font-family:'Montserrat', sans-serif ;

.input-t{
  width: 80%;
}
.overlay-date{
  width: 90%;
  margin-top: 3px;
}
  
.overlay-Priority{
  color: var(--primary);
  font-family:'Montserrat', sans-serif ;
  margin-left: 21px;

}
.priority{
  margin-left: 21px ;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}

.high-b{
  color: var(--pColor);
  transition: 0.2s ease;
  height: 30px;
  width: 70px;
}
.high-b:focus{
  color: #f13b13;
}
.medium-b{
  color: var(--pColor);
  height: 30px;
  width: 70px;
}
.medium-b:focus{
  color: #FCD30E;
}

.low-b{
  color: var(--pColor);
  height: 30px;
  width: 70px;
}
.low-b:focus{
  color: #609D7B;
}

#close-overlay{ 
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: unset;
  background-color: #f13b13;
  color: #FFF;
  margin-top: 25px;
  margin-left: 140px;
}

@media (max-width: 460px){
  .left-navbar{
    margin-left:2px;
    border-right: 2px solid #FDEFEA;
    width: 50px;
    transition: 0.2s ease;
  }

  img{
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

.logo{
font-size: 10px;
}


.links a {
display: none;
}

#btn2{
  margin-top: 370px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px var(--primary);
  background-color: var(--primary);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  align-items: center;
  margin-left: 0px ;
}
}
@media (max-width:790px){
  #overlay{
    display: none;
    position: absolute;
    top: 33%;
    left: 33%;
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: #FFF;
    width: 50%;
    height: 200px;
  }
  #modal.open {
    display: block;
  }
  
  #overlay.open {
    display: block;
  }
  
  .overlay-add-a-todo{
    text-align: center;
    font-family:'Montserrat', sans-serif ;
  
  }
  .input-t{
    width: 80%;
    font-size: 15px;
  }
  .overlay-date{
    width: 80%;
    font-size: 15px;
  }
  .overlay-Priority{
    color: var(--primary);
    font-family:'Montserrat', sans-serif ;
    margin-left: 21px;
    font-size: 15px;
  
  }
  .priority{
    margin-left: 21px ;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .high-b{
    color: var(--pColor);
    transition: 0.2s ease;
    height: 25px;
    width: 65 px;
    font-size: 10px;
  }
  .high-b:focus{
    color: #f13b13;
  }
  .medium-b{
    color: var(--pColor);
    height: 25px;
    width: 65px;
    font-size: 10px;
  }
  .medium-b:focus{
    color: #FCD30E;
  }
  
  .low-b{
    color: var(--pColor);
    height: 25px;
    width: 65px;
    font-size: 10px;
    
  }
  .low-b:focus{
    color: #609D7B;
  }

  #close-overlay{ 
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: unset;
    background-color: #f13b13;
    color: #FFF;
    margin-top: 20px;
    margin-left: 58px;
    font-size: 10px;
  }
}
